.column {
/*    margin: 2px;*/
/*    border: 1px solid black; */
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 86%);
}

.column .title{
    color: hsl(0, 0%, 86%)
}

strong{
    color: hsl(0, 0%, 86%);
}

.column .subtitle {
    color: hsl(48, 100%, 67%);
}